<div class="border-bottom row" style="margin-bottom: 16px;">
    <div class="col-9">
        <h4 style="color: grey;  margin-bottom: 4px; padding-bottom:8px">
            {{project['title']}}
        </h4>
        <div>
            <b>Programming Languages</b>: {{project['Languages']}}
        </div>
        {% if 'Description' in project %}
        <div>
            <b>Description</b>: {{project['Description']}}
        </div>
        {% endif %}
    </div>
    <div class="col-3 gap-2 ">
        {% if 'Link' in project %}
        <a href="{{project['Link']}}" type="button" class="btn btn-primary">Github</a>
        {% else %}
        <a href="https://github.com/ChandanSinghMahar?tab=repositories" type="button" class="btn btn-primary">Github</a>
        {% endif %}
    </div>
</div>